ul.mostread {
	margin:0;
	padding:0;
}
ul.mostread li{
	list-style:none;
	margin-bottom: 5px;
}
ul.mostread a {	
	display: block;
	padding: 5px 10px;
	position:relative;
	line-height: 35px;
	height: 35px;
	border-radius: 3px;
	color: white;
}
ul.mostread a.article-popular0 {
	background: #6B1D47;
}
ul.mostread a.article-popular1 {
	background: #DD4814;
	width: 80%;
}
ul.mostread a.article-popular2 {
	background: #31A006;
	width: 70%;
}
ul.mostread a.article-popular3 {
	background: #3b5998;
	width: 60%;
}
ul.mostread a.article-popular4 {
	background: #353631;
	width: 50%;
}
ul.mostread a:hover {	
	opacity: 0.7;
	filter: alpha(opacity=70);
	text-decoration: none;
}
ul.mostread .count{
    position: absolute;
    background-color: black;
    color: white;
    z-index: 2;
    top: -12px;
    right: -12px;
    padding: 6px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
}
